<% content_for :title do %>Nouveau commentaire<% end %> 
<% content_for :head do %>
<%= javascript_include_tag 'jquery-1.4.3.min' %>
<%= javascript_include_tag 'comment' %>
<% end %>
<div class="enter_comment">
    <% form_tag :controller => 'comment', :action => 'add_comment', :id => @post.id do %>
    <input type="text" id="txtName" name="name" value="<%= @name %>" /><br /><br/>
    <textarea name="comment" id="txtComment" cols="70" rows="8">Commentaire</textarea><br /><br />
    <input type="submit" name="Add" id="Add" value="Soumettre" />
    <% end %>
</div>