<% content_for :title do %>Nouveau commentaire<% end %> 
<% content_for :head do %>
<%= javascript_include_tag 'comment' %>
<% end %>
<div class="enter_comment">
    <p><b><%= @comment.user %> a dit:</b>&nbsp;<%= @comment.text %></p>
    <% form_tag :controller => 'comment', :action => 'add_reply', :id => @comment.id do %>
    <input type="text" id="txtName" name="name" value="<%= @name %>" /><br /><br/>
    <textarea name="comment" id="txtComment" cols="70" rows="8">Commentaire</textarea><br /><br />
    <input type="submit" name="Add" id="Add" value="Soumettre" />
    <% end %>
</div>