@import url(reset.css);



html {
  #background : url('../images/fond2.jpg') no-repeat center center fixed;
  color   : #E0E0E0;
  #-webkit-background-size: cover;
  #-moz-background-size: cover;
  #-o-background-size: cover;
  #background-size: cover;
}
img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        z-index:-1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
                left: 50%;
                margin-left: -512px;   /* 50% */
        }
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color : #C8C8C8;
  font-size : 14px;
  height  :100%;
}
p{
  margin: 0 0 12px 0;
}
hr{
  margin: 0 0 1em 0;
}

a , input[type=submit], input[type="button"]{
  color:#68aa40;
  text-decoration: none;
  border: 0px solid black;
}
a:hover, input[type=submit]:hover, input[type=button]:hover {
  color: white;
  cursor: pointer;
}
.header .mainmenu a{
  color: white;
}
.header .mainmenu a:hover{
  color: #68AA40;
}
sup {
  font-size: 80%;
  line-height: 100%;
  vertical-align: text-top;
  padding-bottom: 5px;
}
h1 {
  color : white;
  font-weight:bold;
  font-size:30px;
  margin-bottom: 1.5em;
}
h2{
  font-size: 24px;
}

h3{
  margin-top: 10px;
  margin-bottom:5px;
  font-size: 22px;
}
.post{
  margin-bottom : 3em;
}
.pagination{
  width:100%;
  text-align:center;
  font-size : 16px;
}
.post h1, .post h3{
  color : white;
  font-weight:bold;
  margin-bottom: 2em;
  font-style:italic;
}
.post h1 span, .post h3 span {
  padding-left: 10px;
  font-size: 0.7em;
  
}
.post p.comment{
  margin-top : 1.5em;
  font-size: 16px;
  font-weight: bold;
}
.details{
  padding : 0 3em 0 3em;
}

.rightmenu{
  width: 30%;
  height: 100%;
}
.middle, .rightmenu{
  float:left;
}
.middle{
  width:70%;
}

.clear{
  clear:both;
}
.wrapper {
  width   : 943px; 
  margin  : 0 auto;
  margin-top: 1em;
  border: 3px solid white;
  background-color : black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.logo{
  padding-top: 2em;
  text-align:center; 
}
.logo img{
  height : 170px;
}
.header .mainmenu{
  margin-left: auto ;
  margin-right: auto ;
  width: 943px;
  padding-top: 1em;
}
.header .mainmenu ul {
text-align : center;
}

.mainmenu ul li {
  text-align : center;
  list-style:none;
  display:inline;
  padding: 0 2em 0 2em;
  margin: 0;
}
.mainmenu ul li span{
  font-size : 19px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper .content{
  margin: 2em 3em 3em 3em;
  min-height: 220px;
}

div.last-video, div.last-picture, div.calendrier{
  height : 250px;
  padding: 0 2px 0 2px;
}
div.last-picture {
  #background : url('../images/polaroid.jpg') center top transparent;
  height: 300px;
  width: 280px;
}
div.last-picture img{
  #margin-top: 38px;
  
  height: 190px;
  width: 235px;
   
  #-moz-transform:rotate(-1.8deg); 
  #-webkit-transform: rotate(-1.8deg); 
}
.comments{
  margin-left: 3em;
  margin-top: 2em;
}
.replymain{
  margin-top: 3em;
  font-size:16px;
}
.comments ul li{
  border: 1px solid gray;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-right : 3em;
  margin-bottom : 1.2em;
}
.comments div.header div{
  float:right;
  margin-right:20px;
  font-size : 16px;
}
.comments div.header div.username{
  float:left;
  text-transform:capitalize;
  font-size : 16px;
  margin-right:30px;
}
.comments div.header{
  
  border-bottom: 1px solid gray;
  padding: 0.5em 0 0 2em;
  height: 30px;
  vertical-align:bottom;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}
.comments ul li div.comment{
  padding: 1.2em 4em 1.2em 5em;
}

input, textarea{
  background: none repeat scroll 0 0 transparent; border: 1px solid white; color:white;
}

.footer{
  width: 943px;
  border : 3px solid white;
  background-color : black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  
  
  text-align: center;
  font-size : 15px;
  font-weight: bold;
}
.enter_comment{
  width:680px;
  min-height:300px;
  padding : 40px 0 0 2em;
  background-color:black;
  margin: 0 auto;
}
.enter_comment p {
  margin-bottom : 2em;
}
.enter_comment input[type=text] {
  width: 200px;
  height:2em;
  border: 1px solid white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding-left : 1em;
}
.enter_comment textarea{
  border: 1px solid white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding : 0.5em 0 0 1em;
}
.enter_comment input[type=submit] {
  border: 1px solid white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding : 0.2em 0.5em 0.2em 0.5em;
}
.enter_comment input[type=submit]:hover{
  cursor:pointer;
  border: 1px solid green;
}

.replies{
  margin-left : 6em;
}
.archive li{
  margin-left : 10px;
}
.resume {
  padding: 2em 2em 2em 2em; 
}
.resume p {
  font-size : 16px;
}
.resume h1 {
  margin-bottom: 1em;
}
.videobox{
  padding-top:2em;
  text-align:center;
}
.videobox > div.box {
  border: 0px solid #68AA40;
  padding-top: 2em;
  margin-bottom : 4px;
  margin: auto;
  width:800px;
  padding-bottom: 3em;
}
.videobox p{
  text-align:left;
  font-size: 18px;
  padding-left : 5em;
  margin-top: 1em;
}
.album-container{
  padding-left : 5em;
}
.album-container ul{
  width:500px;
  min-height:100px;
  border: 1px solid white;
  margin: 0 0 15px 0;
}
.album-container ul > li{
  padding: 3px 0 3px 10px;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
div.album {
  width:650px;
  height:500px;
  margin:0 auto;
  text-align: center;
  padding : 20px 0 20px 0;
}
