@import url(reset.css);

html {
  background : url('../images/bg1.png') repeat-x scroll left top black;
  height  : 100%;
  color   : #E0E0E0;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color   :     #C8C8C8;
  font-size : 14px;
  height  :100%;
}
p{
  margin: 0 0 12px 0;
}
hr{
  margin: 0 0 1em 0;
}

a, a:hover {
  color:#68aa40;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  font-size: 80%;
  line-height: 100%;
  vertical-align: text-top;
  padding-bottom: 5px;
}
h1 {
  color : white;
  font-weight:bold;
  font-size:2.4em;
  margin-bottom: 1.5em;
}
.post{
  margin-bottom : 4em;
}
.post h1, .post h3{
  color : white;
  font-weight:bold;
  margin-bottom: 2em;
  font-style:italic;
}
.post h1{
  font-size: 2em;
}
.post h3{
  font-size: 1.2em;
}
.post h1 span, .post h3 span {
  padding-left: 10px;
  font-size: 0.7em;
  
}
.post p.comment{
  margin-top : 2em;
  font-size: 16px;
  font-weight: bold;
}
.details{
  padding : 0 3em 0 3em;
}
.content .leftmenu, .content .rightmenu{
  width: 30%;
  height: 100%;
}
.leftmenu, .middle, .rightmenu{
  float:left;
}
.middle{
  width:64%;
  padding: 0 0 0 3em;
}

.clear{
  clear:both;
}
.wrapper {
  width   : 943px; 
  margin  : 0 auto;
  margin-top: 1em;
  border: 2px solid white;
  background-color : black;
}
.logo{
  padding-top: 2em;
  text-align:center; 
  margin-bottom : 2em;
}
.header .mainmenu{
  width: 100%;
  padding-top: 3em;
}
.header .mainmenu ul {
  width:100%;
}

.mainmenu ul li {
  display: block;
  text-align : center;
  float: left;
  height:40px;
  padding : 0 10px 0 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 16.5%;
}
.mainmenu ul li span{
  font-size : 19px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper .content{
  margin-top : 6em;
}

div.last-video, div.last-picture, div.calendrier{
  height : 250px;
  padding: 0 2px 0 2px;
}

.comments{
  margin-left: 3em;
}

input, textarea{
  background: none repeat scroll 0 0 transparent; border: 1px solid white; color:white;
}

