<% content_for :title do %>Tous les videos<% end %>
<div>
  <% @videos.each do |video| %>
    <div class="videobox">
      <div class="box">
        <h2><%= video.name %></h2>
        <div><%= video.embed_at_size(420, 620) %></div>
        <p><%= video.description %></p>
      </div>
    </div>
  <% end %>
</div>