<% content_for :title do %>Resume<% end %>
<div class="resume">
  <h1><u>Training Crew</u></h1>
  <p>Le Training Crew est un groupe d'entraînement de méthode naturelle axé sur le parkour.</p>  
</div>

