<% content_for :title do %>Qui nous sommes<% end %>
<div class="resume">
  <h2><u>Training Crew</u></h2>
  <p>Le Training Crew a été créé à la base pour offrir des entraînements axés sur la méthode naturelle pour le Parkour. Nous utilisons notre environnement ainsi que notre corps pour améliorer notre forme physique et nos compétences pour le Parkour. Nous nous entraînons de façon régulière à chaque semaine. Les entraînements sont offert à tout ceux et celles qui veulent s’entraîner sérieusement soit dans le but de développer une meilleure forme physique ou pour améliorer leurs capacités à se déplacer lors de la pratique du Parkour.</p>  
  <br />
  <h3>Le Parkour ?</h3><br />
  <p>Le Parkour est une discipline sportive qui consiste à se déplacer d’un endroit à un autre en franchissant les obstacles qui se dressent devant nous et cela de la manière la plus efficace, rapide et sécuritaire possible. Notre corps étant notre outil de déplacement.</p>
</div>

