<% content_for :title do %>liens admins<% end %>

<h1>Admin... mecarana niaise pas</h1>
<ul>
  <li><%= link_to 'édition des albums', albums_path %></li>
  <li><%= link_to 'édition des images', images_path %></li>  
  <li><%= link_to 'édition des vidéos', videos_path %></li>
  <li><%= link_to 'publications des posts', publications_path %></li>
</ul>
