<% content_for :title do %>liens admins<% end %>

<h1>Admin... mecarana niaise pas</h1>
<ul>
  <li><%= link_to 'édition albums', albums_path, :target => :blank %></li>
  <li><%= link_to 'édition images', images_path, :target => :blank %></li>  
  <li><%= link_to 'édition vidéos', videos_path, :target => :blank %></li>
</ul>
