<% content_for :title do %><%= @post.title %><% end %> 
<p><%= @post.body %></p>
<hr>
<span>Comments</span>
<% @post.comments.each do |c|%>
  <div>
    <div><span></span></div>
    <p><b><%=c.user%>:</b>&nbsp;<%= c.text %></p>
  </div>
<%end%>

<p>Insert your comment here:</p>
<% form_tag :controller => 'post', :action => 'add_comment', :id => @post.id do %>
  Name: <input type="text" name="name"/><br />
  Comment : <input type="text" name="comment"/><br />
  <input type="submit" name="Add" id="Add">
<% end %>


