<style type="text/css">
  body 
  { 
    text-align: center;
  }
  div.dialog 
  {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }
</style>
<br /><br/>
<h1>Knee to the béton!</h1>
<p>J'ai raté mon saut de chat(une erreur s'est produite). Laisse-moi un peu de temps pour régler mon problème.</p>
<p>Si tout n'est pas trop démoli, un email a été envoyé pour signaler le "knee to the béton".</p>