<style type="text/css">
  body 
  { 
    text-align: center;
  }
  div.dialog 
  {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }
</style>
<br /><br/>
<h1>Erreur lors du chargement du site</h1>
<p>L'admin est probablement en train de jouer avec le site, sois patient.</p>
<p>Si jamais ca ne se règle pas en 30min, envoie un email a Jeremy ou Tchad.</p>