<style type="text/css">
  body 
  { 
    text-align: center;
  }
  div.dialog 
  {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }
</style>
<br /><br/>
<h1>Site web en maintenance</h1>
<p>Tout le monde a besoin de se reposer un peu apres un bon training...</p>
      