<style type="text/css">
  body 
  { 
    text-align: center;
  }
  div.dialog 
  {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
  }
</style>
<br /><br/>
<h1>La page que tu recherches n'existe pas.</h1>
<p>Vérifie que tu as bien tappé l'adresse, le lien a peut-être été déplacé.</p>
<p>Si jamais tu es sur de ton coup prends 2 sec pour envoyer un email a Tchad ou Jeremy.</p>